.popover{
	display: flex;
	color: #FAFAFA;
	border: solid 1px #DDDDDD;
	border-radius: 4px;
	visibility: hidden;
	position: relative;
	padding-bottom: 10%;
	z-index: 1;
	margin-top: 7%;
}
.popover li h2{
	padding: 0;
	margin: 0;
}
.popover_list{
	padding: 0px;
	margin: 0;
	padding-left: 10%;
}
li{
	list-style-type: none;
	padding-bottom: 5%;
}
ul{
	padding-top: 30px;
	list-style: none;
}
.locations:hover >.popover{
	visibility: visible;
	margin-bottom: 50px;
}
.amenities:hover >.popover{
	visibility: visible;
}
